.set {
    padding: 20px;
    border-top: 1px solid #eee;
}

.box {
    padding: 20px;
}

.first-option {
    margin-top: 10px;
}

.error-list {
    margin-bottom: 10px;
}

.form-error {
    color: red
}

form span {
    color:darkgrey
}

.trust-text {
    width: 60%;
    padding: 15px 25px
}