.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px;
}

.header .container {
    padding: 0px 15px;
}

.header .container .info-text {
    width: 60%;
    padding: 15px 25px 75px
}

.header .container .predict {
    padding-top: 15px;
}


.header .container h1 {
    font-weight: bold;
    text-shadow: 0 1px 8px rgb(0 0 0 / 10%);
}

.header .container h3 {
    font-weight: bold;
    color: rgb(77, 76, 76);
    text-shadow: 0 1px 8px rgb(0 0 0 / 10%);
}

.header .container p {
    text-shadow: 0 1px 8px rgb(0 0 0 / 30%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.header .container .btn {
    /* min-width: 250px; */
    position: relative;
    background-color: #af8fe9;
    color:  white;
    padding: 20px;
    padding-block: 7px;
    border-radius: 10px;
}

.header .container .btn span {
    /* margin-left: 25px; */
    padding: 5px;
    text-shadow: 0 1px 8px rgb(0 0 0 / 30%);
}

.header .container .btn:hover .icon {
    transition: .3s all ease-in-out;
    right: 12px;
}

.title {
    margin-top: 60px;
}

.under-title {
    width: 82%;
}