.img-tired {
    width: 240px;
    height: 240px;
    margin: 0px auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #eee;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.img-chat {
    width: 180px;
    height: 140px;
    margin: 0px auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #eee;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.img-shap {
    width: 85%;
    max-width: 1000px;
    padding: 20px;
}

.clip {
    padding: 20px;
}