.nav-holder {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

.navbar {
    background-color: #af8fe9;
    padding-block: 12px;
    height: 25px;
}

.navbar-title {
    background: none;
    padding: 10px 50px 10px 20px;
    margin: 0px 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    transition: .5s all ease-in-out;
}

.navbar-link {
    background: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 5px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    transition: .5s all ease-in-out;
}

.navbar-link:hover {
    background: rgb(0 0 0 / 35%);
    color: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}