@import './_css/fonts.css';
@import './_css/nav.css';
@import './_css/header.css';

body {
    background: #eee;
}

main {
    background: #fff;
    /* margin-top: 50px; */
}

h1, h2, h3, h4, h5, div {
    font-family: 'Roboto', sans-serif;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(0 0 0 / 22%);
}

.card {
    padding: 40px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border: none;
    border-radius: 10px;
    color: #333;
}